@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

/* Can be given to Topbar when a modal is opened
 * so that the Topbar is not rendered on top of it.*/
 

 
.topbarBehindModal {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: initial;
}

.topbar {
 position: fixed;
    top: 0;
    left: 0;
    /* We need to raise Topbar above .container */
    z-index: 3;
}

.container {
    /* Layout */
    width: 100%;
    flex-grow: 1;
    display: flex;
    @media (--viewportMedium) {
        position: relative;
        width: 100%;
        padding-top: var(--topbarHeightDesktop);
        min-height: calc(100vh - var(--topbarHeightDesktop));
    }
}

.searchResultContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2px 0 0 0;
    
    @media (--viewportMedium) {
        padding: 18px 0 0 0;
        /**
     * .container is using flexbox,
     * This specifies that searchResultContainer is taking 60% from the viewport width
     */
        flex-basis: 500%;
    }
    @media (--viewportLarge) {
        flex-basis: 200%;
        padding: 23px 0 0 0;
    }
}

.error {
    color: var(--failColor);
    padding-left: 24px;
    padding-right: 24px;
}

.searchString {
    /* Search string should not break on white spaces - i.e. line-break should happen before. */
    white-space: nowrap;
}

.searchFiltersPrimary {
    display: none;
    z-index: 2;
    background-color: transparent;
    @media (--viewportMedium) {
        display: flex;
        padding: 0 20px;
        
    }
    @media (--viewportLarge) {
        padding: 0 20px;
    }
}

.searchFiltersMobile {
    padding: 16px 24px;
    @media (--viewportMedium) {
        display: none;
    }
}

.searchFiltersPanel {
    flex-grow: 1;
    display: flex;
    padding: 0 24px 24px 24px;
    @media (--viewportLarge) {
        padding: 0 36px 36px 36px;
    }
}

.listings {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 1;
    margin-top: 52vh;
    
    @media(--viewportMedium) {
        width: 485.89px;
        
        margin-top: 0;
        
    }
    
    
   
    /*width: 100%;*/
    
}

.newSearchInProgress {
    opacity: 0.1;
}

.searchListingsPanel {
    flex-grow: 1;
    
}

.mapPanel {
    @media (--viewportMedium) {
        /**
     * .container is using flexbox,
     * This specifies that mapPanel is taking 34% from the viewport width
     */
        flex-basis: 50%;
        /* Own layout settings */
        display: flex;
        height: 100%;
    }
    @media (--viewportLarge) {
        flex-basis: 37.5%;
    }
}
.test{
    z-index: 1000;
    color:white;
}
.sortBy {
    margin-right: 9px;
}

.sortByMenuLabel {
    @apply --marketplaceButtonStylesSecondary;
    @apply --marketplaceTinyFontStyles;
    font-weight: var(--fontWeightMedium);
    height: 35px;
    min-height: 35px;
    padding: 0 18px;
    margin: 0;
    border-radius: 4px;
    white-space: nowrap;
}

.mapWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 60px;
}

.map {
    width: 100vw;
    position: fixed;
    top: 60px;
    height: calc(100vh - 120px);
    left: 0;
    
    @media (--viewportMedium) {
        /* Map is fixed so that it doesn't scroll along search results */
        position: fixed;
        top: var(--topbarHeightDesktop);
        right: 0;
        /* Fixed content needs width relative to viewport */
        width: 100vw;
        height: calc(100vh - var(--topbarHeightDesktop));
    }
    
}
/*****************************************POPUP_CSS***********************************/

 
  
  .modalContainer {
    display: none;
    @media (--viewportMedium) {
        @apply --marketplaceModalBaseStyles;
        display: flex;

    }
  }
  
  
  /* .titleCloseBtn {
  
    
  } */
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  
  

  .modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .apearPopup{
    width: 100vw;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
   }
   .containerLogin{
       
      display: none;
       @media (--viewportMedium) {
        right:41.3px;
       position: fixed;
       display: flex;
       z-index: 10;
       margin-top: 19px;
       }
   }

   .LoginBtn{

     color: #ffffff;
    
     
   }

   .joinBtn{
    color: #d0f223;
   
   
   }
   .LoginBtn button {
    background-color: transparent;
    border: none;
    font-size: 17.5px;
    cursor: pointer;
    font-family:Helvetica, Arial,  sans-serif;
    
  }
   .joinBtn button {
    background-color: transparent;
    border: none;
    font-size: 17.5px;
    cursor: pointer;
    font-family:Helvetica, Arial,  sans-serif;
    margin-right: 10.6px;
    
  }

 /* ************************************popuplogin css*********************** */
 .password {
    @apply --marketplaceModalPasswordMargins;
  }
  .number{
    height: 44px;
    margin: 0px;
    margin-bottom: 7%;
    border-radius:8px !important;
  
  }
  .footer {
  font-size: 0.8ch;
  padding-top: -7%;
    color: gray;
    text-align: left;
  }
  .inputsdasdas
  {
    display: flex !important;
    position: relative;
  }
  .header
  {
    margin: 100px !important;
    background: yellowgreen !important;
  }
  .PhoneInput
  {
    margin: 10px !important;
  }
  .number .PhoneInputInput
  {
    border:0px !important
  }
  .firstname
  {

    border: 1px solid #c4c4c4!important;
    padding: 0.08em  10px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-color:white !important ;
    padding-bottom: 0.07em ;

    
  }
  .LastName
  {
    
   
    border: .8px solid #c4c4c4!important;
    padding: 0.08em 10px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    
  }
  .usernameClass
  {
    display: flex;
    margin-right: 0px!important;

  }
  
  .UserName
  {

   border: 1px solid #c4c4c4!important;
   padding: 0.08em  10px;
   border-radius: 8px;
   border-right: none!important;
   border-top-right-radius: 0px!important;
   border-bottom-right-radius:0px!important;
   margin-top: 9%;
   width: 76.4%;
   margin-right: 0px!important;
   @media (--viewportMedium) {
      
    margin-top: 5%;
   }
   
  
  }
  .fixedDiv{
    display: fixed;
  }
  .trystateSpan{
    position: absolute;
    top: 15.03rem;
    right: 20px;
    font-size: 16px;
    border: 1px solid #c4c4c4!important;
    border-radius: 8px;
    padding: 9.3px  10px!important;
    border-left: none!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius:0px!important;
    margin-left: 0px!important;
    width: 23.6%;
  }
  
  /* .bottomWrapper {
    @apply --marketplaceModalBottomWrapper;
  } */
  
  /* Adjust the bottomWrapper's margin to match modals without the helper text */
  .bottomWrapperText {
    color: #000000;
    font-size: 11.5px;
    font-weight: 450;
    margin-bottom: 4%;
    line-height: 120%;
    @media (--viewportMedium) {
      
      font-size: 12px;
      font-weight: 450;
      margin-bottom: 2%;
      line-height: 130%;
     }
  
  }
  .mobileJustifingPargraph
  {
  
    justify-content: center;
    display: flex;
    @media (--viewportMedium) {
      display:inline;
      
     }
  }
  .justifingPargraph{
    justify-content: center;
    display: flex;
  }
  
  .recoveryLink {
    @apply --marketplaceModalHelperLink;
  }
  
  .recoveryLinkInfo {
    @apply --marketplaceModalHelperText;
  }
  .joinLogin{
    justify-content: center;
    width: 92%;
    display: flex;
    font-size:15.5px;
    margin-bottom: 17%;
    font-weight: 600;
    color: black;
    margin-top: 0px;
    @media (--viewportMedium) {
      
      margin-bottom: 10%;
     }
    
  }
  
  .birthDate{
    border: 1px solid #c4c4c4!important;
    padding: 0.08em 10px;
    border-radius: 8px;
    margin-top: 9%;
    @media (--viewportMedium) {
      
      margin-top: 5%;
     }
  }
  .terms{
    color: #a6a6aa;
    font-size: 10.5px;
    font-weight: 450;
    line-height: 120%;
    @media (--viewportMedium) {
      
     font-size: 12px;
      font-weight: 450;
      line-height: 20%;
    }
  }
  .termsSrv{
    color:#329bfc ;
    text-decoration: underline;
    margin-left: 2.5px;
  }
  .agree{
    font-weight: 700;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .enterCode{
    margin-bottom:12%;
    font-size: 17.5px;
    font-weight: 700;
    @media (--viewportMedium) {
      font-size: 21px;
      margin-bottom:8%;
    }
  }
  
  .containerAuth{
    margin-bottom:12% ;
    display: flex;
    justify-content:space-around;
    @media (--viewportMedium) {
      margin-bottom:8%;
    }
    
  }
  .input{
      width: 1.8ch;
      font-size:35px;
      text-align: center;
      padding: 6px;
      border: solid 1px #c7c7c7;
      border-radius: 8px;
      text-transform: uppercase;
      @media (--viewportMedium) {
        width: 2ch;
        font-size: 40px;
         padding: 6px;
        }
     
  }
 .headerPopup{
   
   display: flex;
 }

  .resendCode {
    justify-content: center;
      display: flex;
  }
  .resendCode button{
    
    text-decoration: underline;
    font-size: 13px;
    font-weight: 650;
    @media (--viewportMedium) {
      
      background-color: transparent;
      border: none; 
      cursor: pointer;
    }
  }
  .mobileMarginOflogin{
    margin-top: 128%;
   
     @media (--viewportMedium) {
      margin-top: 0vh;
     }
     
  }
  .bottomWrapper{
     
    margin-top: 21vh;
   
     @media (--viewportMedium) {
      margin-top:4vh;
     }
  }
  .ageTerms{
    color: #a6a6aa;
    font-size: 10.5px;
    font-weight: 450;
    line-height: 120%;
    @media (--viewportMedium) {
      
      font-size: 12px;
      font-weight: 450;
      line-height: 20%;
    }
  }